.homeabout .container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.modal-iframe {
  height: 100%;
  width: 100%;
}

.modal-video {
  width: 700px;
  height: 320px;
}

.download-box {
  position: relative;
  cursor: pointer;
  width: max-content;
}

.download-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
  background: #735b4d;
  border-radius: 36px;
  padding: 15px 45px;
  padding-left: 80px;
}

.download-box{
  width: 220px;
  /* height: 55px; */
}

.download-blok {
  background-color: #ffebe2;
  padding: 8px;
  width: 52px;
  height: 42px;
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
}

.main-btn {
  position: absolute;
  top: 0;
  margin-left: 10px;
  width: 100%;
  cursor: default !important;
  overflow: hidden;
  border-radius: 50px;
}

.products__modal-btn-icon {
  width: 50px;
  height: 50px;
}

.about__right {
  display: flex;
  flex-direction: column;
  position: relative;
}

.about__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.about__left-video-btn {
  position: absolute;
  top: 20px;
  right: 80px;
  cursor: pointer;
  width: 120px;
  height: 120px;
  transition: 1s;
}

.about__left-video-btn:hover {
  transform: scale(0.9);
}

.about__left-video-btn:active {
  transform: scale(1.1);
}

.about__right-title {
  font-size: 49.08px;
  line-height: 44.99px;
  font-weight: 600;
  width: 50%;
  margin-right: auto;
  margin-bottom: 40px;
}

.about__right-text {
  margin-bottom: 20px;
  width: 70%;
  margin-right: auto;
  font-size: 14px;
  line-height: 21.47px;
  font-weight: 400;
  opacity: 0.8;
}
