.download-box {
    position: relative;
    cursor: pointer;
    width: max-content;
  }
  
  .download-btn {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    cursor: pointer;
    background: #735b4d;
    border-radius: 36px;
    padding: 15px 45px;
    padding-left: 80px;
  }
  
  .download-blok {
    background-color: #ffebe2;
    padding: 8px;
    width: 52px;
    height: 42px;
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .main-btn {
    position: absolute;
    top: 0;
    margin-left: 10px;
    width: 100%;
    cursor: default !important;
    overflow: hidden;
    border-radius: 50px;
  }
  
  .products__modal-btn-icon {
    width: 50px;
    height: 50px;
  }