.homeproducts {
  padding: 150px 0 100px;
}

.products__title{
  background-color: #fff;
  height: 75%;
  width: 80%;
  margin: 0 10px;
  border-radius: 9999px;
  transition: .3s;
  display: flex;
  justify-content: center;
}

.homeproducts__product {
  height: 500px;
  margin: auto;
  text-align: center;
  cursor: pointer;
}

.homeproducts__product:hover .products__title {
  border-top-right-radius: 0px;
}

.homeproducts__product-img {
  width: 70%;
  object-fit: contain;
  border-radius: 9999px;
  transition: .3s;
  /* margin-top: 90px; */
}

.homeproducts__product-name {
  color: var(--pink-text);
  margin-top: 20px
}

.homeproducts__wrapper {
  width: 1000px;
  margin: auto;
}

.homeproducts__title {
  margin-bottom: 80px;
}

.slide-prev-transforms {
  transform: translateY(-50%) rotate(180deg) !important;
}


.product-splide{
  display: none;
}


.homeproducts .splide__arrow:disabled{
  opacity: 1;
}


@media (max-width:500px) {
  
  .container{
    width: 100%;
  }

  .product-splide{
    display: block;
  }

  .homeproducts__wrapper{
    display: none;
  }
  
}