:root {
  --default-bg: #1c1c1c;
  --white-color: #fff;
  --pink-100: #fcd4a1;
  --pink-text: #fed6a2;
  --black-color: #000;
}

.homeproduction-title{
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--default-bg);
  color: var(--white-color);
  overflow-x: hidden;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.section__title {
  font-size: 53.93px;
  line-height: 60px;
  font-weight: 600;
  color: var(--pink-text);
  text-align: center;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  color: inherit;
}

input {
  background: transparent;
  border: 0;
  outline: 0;
  color: inherit;
}

.relative {
  position: relative;
}

section {
  position: relative;
}

.container {
  width: 1300px;
  margin: auto;
  padding: 0px 60px;
  position: relative;
  z-index: 2;
}

.parallax-container {
  position: relative;
  background-color: var(--default-bg);
  background-color: #1c1c1c;
  z-index: 10;
}

.placeholder {
  z-index: 6;
  position: relative;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 9;
  width: 100%;
  display: block;
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
  }

  .homeabout .about__left {
    width: 100%;
  }

  .homeproduction-title {
    display: none;
  }

  .about-right {
    margin-left: 40px;
  }

  .about-page {
    margin-left: auto;
  }
  .about--list:nth-child(2) {
    margin: 0 30px;
  }

  .company-about, .company-titles{
    margin-left: 50px;
    width: 800px;
  }

  .new{
    padding: 0px;
  }

  .new-pic{
    margin: 0;
    /* margin-left: 100px; */
    width: 100%;
    padding-left: 50px;
    padding-right: 20px;
  }

  .new-img{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .new-name{
    font-size: 30px;
    line-height: 40px;
    width: 100%;
  }

  .content-list, .content-title{
    margin-left: 100px;
  }

  .about--items{
    width: 230px;
  }

  .about-product{
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 1080px) {
  .container {
    width: 100%;
  }

  .homeproducts .homeproducts__wrapper {
    width: 100%;
  }

  .homeblog .homeproducts__wrapper {
    width: 100%;
  }

  .homeabout .about__right-text {
    width: 100%;
  }

  .homeabout .about__right-title {
    width: 100%;
  }

  .homeabout .about__left-img {
    width: 350px;
  }

  .homeproduction .section__title {
    font-size: 40px;
    line-height: 50px;
  }

  .homeproduction .homeproduction__right-img {
    width: 250px;
  }

  .homeproducts .homeproducts__product {
    width: 380px;
  }

  .homeblog .homeproducts__product {
    width: 380px;
  }

  .contact .contact__bottom-text {
    font-size: 100px;
  }

  .contact .section__title {
    font-size: 45px;
    line-height: 50px;
  }

  .homemain__title {
    font-size: 45px;
    line-height: 50px;
  }

  .homemain__text {
    width: 100%;
  }

  .product-name {
    font-size: 80px;
    line-height: 100px;
  }

  .product-subtext {
    font-size: 30px;
    line-height: 35px;
  }

  .about-text {
    font-size: 18px;
    line-height: 22px;
    /* width: 100%; */
  }


  .card-slider{
    display: block;
  }

  .card{
    display: none;
  }

.about  .cards{
    display: block;
  }

  .about {
    padding: 0;
  }

  .about-names {
    font-size: 30px;
    line-height: 40px;
    width: 100%;
  }

  .about-page {
    margin: 50px 15px;
  }

  .company-about, .company-titles{
    margin: 0 20px;
    width: 100%;
  }

  .company-img{
    width: 50%;
  }

  .company-pic{
    padding-right: 20px;
    padding-left: 60px;
  }

  .content-list, .content-title{
    width: 100%;
    margin: 0 10px;
    margin-top: 50px;
  }

  .content-img{
    width: 100%;
  }

  .content-item{
    padding: 10px 20px;
  }

  .content{
    padding: 0;
  }

  .content-number{
    font-size: 160px;
  }

  .about--items{
    width: 230px;
  }

  .about .about--pic{
    width: 100%;
    padding: 0 20px;
    margin: 10px;
    margin-top: 70px;
  }

  .product-subtext{
    top: 28%;
    left: 7%;
  }

  .product-name{
    padding: 40px 0;
  }

  .header__links{
    gap: 10px;
  }

  .header__link{
    font-size: 14px;
  }

  .about__rights {
    display: flex;
    flex-direction: column-reverse;
  }
  
}

@media (max-width: 800px) {
  .container {
    width: 100%;
    padding: 0 45px;
  }

  .about-title {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-items {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
  }

  .product-name{
    font-size: 60px;
    line-height: 75px;
    margin-top: 50px;
  }

  .product-subtext{
    top: 24%;
    left: 7%;
  }

  .product-btns {
    width: 90%;
    /* margin-left: 35px; */
  }

  .about-subnames {
    font-size: 45px;
    line-height: 40px;
    width: 100%;
  }

  .about-img {
    width: 100%;
    padding: 10px 50px;
    margin-top: 0;
  }

  .homeabout .container {
    display: flex;
    flex-direction: column;
  }

  .homeproduction .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .homeproduction .homeproduction__left,
  .homeproduction__right {
    width: 100%;
  }

  .homeproduction__right{
    width: 100%;
  }

  .homeproduction .homeproduction__right-img {
    width: 60%;
  }

  .homeabout .about__right-text {
    font-size: 18px;
    line-height: 22px;
  }

  .homeproduction .homeproduction__left-text {
    font-size: 18px;
    line-height: 22px;
  }

  .homeproducts .homeproducts__product {
    width: 100%;
    height: 400px;
  }

  .homeblog .homeproducts__product {
    width: 100%;
    height: 400px;
  }

  .homeproducts .homeproducts__product-img {
    width: 60%;
  }
  .homeproducts .splide__list .splide__slide {
    width: calc(50%);
  }

  .contact .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .contact .contact__left,
  .contact__right {
    width: 100%;
    margin-top: 25px;
  }

  .contact .contact__form {
    width: 100%;
  }

  .contact .contact__bottom-text {
    font-size: 90px;
    gap: 50px;
  }

  .header .header__links {
    display: none;
  }

  .header__btn{
    display: none;
  }

  .header-open{
    display: block;
  }

  .homemain__main {
    display: flex;
    flex-direction: column-reverse;
  }

  .homemain__content,
  .homemain__main-slider {
    width: 100%;
  }

  .homemain__title {
    font-size: 50px;
    line-height: 60px;
    margin: 15px 0;
  }

  .products__modal-btn {
    margin: 15px 0;
  }

  .homemain__slides {
    display: none;
  }

  .company-text{
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    padding: 0 30px;
  }

  .company-subname{
    font-size: 16px;
  }

  .new-img{
    width: 100%;
    padding-left: 10px;
    padding-right: 0px;
  }

  .content-text{
    width: 100%;
    margin: 15px 20px;
    margin-bottom: 60px;
    font-size: 16px;
    padding-right: 30px;
  }

  .content-item{
    width: 100%;
  }

  .content-img{
    width:70%;
  }

  .about-product > a{
    margin: 0 10px;
    width: 45%;
  }

  .about--items{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    margin: 0;
  }

  .modal-video{
    width: 100%;
  }

}

@media (max-width: 660px) {
  .container {
    width: 100%;
  }

  .new-name{
    font-size: 25px;
    line-height: 30px;
    margin: 0 15px;
  }

  .company-title{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .company-about, .company-titles{
    margin: 0;
  }

  .company-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .new-img{
    height: 200px;
  }

  .new-pic{
    padding-right: 10px;
    padding-left: 30px;
  }

  .company-items{
    width: 100%;
  }
  .modal-item{
    display: none;
  }

  .modal-page{
    width: 100%;
  }

  .company-name{
    font-size: 25px;
    width: 100%;
    line-height: 30px;
  }

  .company-pic{
    padding-right: 10px;
    padding-left: 20px;
  }

  .company-img{
    width: 65%;
  }

  .modalContainer.show .modal{
    width: 100%;
    padding: 0 20px;
  }

  .modal-form, .modal-title{
    width: 100%;
  }

  .slides-prev {
    left: 0px !important;
    right: inherit !important;
  }
  
  .slides-next {
    right: 0px !important;
    left: inherit !important;
  }

  .product-name{
    padding-bottom: 80px;
  }
  .product-subtext{
    top: 17%;
    left: 7%;
  }

  .product-buttons{
    width: 100%;
    margin-top: 15px;
  }
  

  .modal-input, .modal-btn{
    width: 100%;
  }
  .about-text {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
  }

  .about-right{
    margin: 0;
  }

  .about-page{
    width: 100%;
    margin: 40px 0;
    height: auto;
  }

  .about-image{
    width: 100%;
    padding: 10px 50px;
    margin: 50px 0px;
  }

  .about__rights{
    display: flex;
    flex-direction: column-reverse;
  }

  .homeproducts .homeproducts__product {
    width: 100%;
    height: 500px;
  }

  .homeblog .homeproducts__product {
    width: 100%;
    height: 500px;
  }

  .homeblog .homeproducts__product-img {
    width: 60%;
  }

  .product-title {
    display: flex;
    flex-direction: column-reverse;
  }

  .product-left {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .product-btn,
  .product-button {
    width: 100%;
  }

  .product-item {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
  }

  .product-subname {
    font-size: 45px;
    line-height: 50px;
    width: 100%;
  }

  .product-right {
    width: 100%;
    margin: 0;
  }

  .product-left {
    margin: 0;
  }

  .product-right > a {
    width: 100%;
  }

  .product-items {
    width: 100%;
    height: auto;
    margin: 25px 0;
  }

  .product-names {
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 20px;
  }

  .product-pic {
    width: 100%;
    padding: 20px 60px;
    margin: 0;
  }

  .product-btns {
    width: 90%;
    /* margin: 0; */
    /* margin-left: 90px; */
  }

  .product-img {
    width: 100%;
    margin-top: 0;
    padding: 0 60px;
  }

  .about-name{
    font-size: 55px;
    width: 100%;
    line-height: 60px;
  }

  .product-name{
    font-size: 50px;
    line-height: 60px;
    width: 100%;
  }

  .product-span{
    display: block;
  }

  .product-subtext{
    margin-left: 10px;
  }

  .content-number{
    font-size: 120px;
    line-height: 100px;
  }

  .content-text{
    font-size: 16px;
    line-height: 20px;
    padding-right: 50px;
  }

  .about-product > a{
    width: 100%;
  }
}

@media (max-width: 460px) {
  .container {
    width: 100%;
    /* padding: 0 15px; */
  }

  .product .container{
    padding: 0 35px;
  }

  .company{
    margin-top: 50px;
  }

  .content, .new{
    margin-top: 40px;
  }

  .homeproduction .homeproduction__right-img {
    width: 100%;
  }

  .homeproduction .homeproduction__left-text {
    font-size: 16px;
    line-height: 22px;
    width: 100%;
  }

  .homeabout .about__right-text {
    font-size: 16px;
    line-height: 22px;
    width: 100%;
  }

  .homeproduction .section__title {
    font-size: 30px;
    line-height: 35px;
    width: 100%;
  }

  .homeproduction .homeproduction__right-btn {
    right: 0px;
  }

  .homeabout .about__left-video-btn {
    right: 0;
  }

  .slides-prev {
    left: 0 !important;
    right: inherit !important;
  }

  .slides-next {
    right: 0px !important;
    left: inherit !important;
  }

  .homeblog .section__title {
    font-size: 40px;
    line-height: 50px;
  }
  .homeproducts .section__title {
    font-size: 40px;
    line-height: 50px;
  }

  .homeproducts .homeproducts__product {
    width: 90%;
    height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .homeblog .homeproducts__product {
    width: 90%;
    height: 400px;
  }

  .contact .contact__bottom-text {
    font-size: 50px;
    gap: 20px;
  }

  .contact .contact__right-icon {
    right: 0;
  }
  .contact .contact__right-img {
    width: 100%;
    object-fit: contain;
  }

  .contact .section__title {
    font-size: 35px;
    line-height: 40px;
  }

  .contact .about__left-video-btn {
    width: 80px;
    height: 80px;
    top: 90px;
    right: 40px;
  }

  .homepartners .homepartners__title {
    font-size: 35px;
    line-height: 40px;
  }

  .homepartners .homepartners__logos {
    padding: 10px 0;
  }

  .homemain__title {
    font-size: 35px;
    line-height: 45px;
    width: 100%;
  }

  .about-left{
    border: none;
    padding: 0;
  }

 

  .about-subnames{
    font-size: 30px;
    line-height: 40px;
  }

  .about-name{
    font-size: 60px;
    line-height: 70px;
  }

  .product-img{
    margin: 10px 0;
    padding:0 30px;
  }

  .product-name{
    font-size: 35px;
    line-height: 40px;
    margin-top: 0;
    padding-bottom: 40px;
  }

  .product-subtext{
    top: 24%;
    font-size: 22px;
    left: 7%;
    margin-top: -20px;
  }

  .footer__text{
    width: 100%;
  }

  .about .about--pic{
    margin-left: auto;
  }

  .company-about, .company-titles{
    margin: 0;
  }

  .company-text{
    padding: 0 15px;
  }

  .new-name{
    font-size: 20px;
    line-height: 25px;
  }

  .homepartners .splide__arrow--next {
    background-color: black;
    left: 105%;
  }
  
  .homepartners .splide__arrow--prev{
    background-color: black;
    left: -14%;
  }

  .content-number{
    font-size: 60px;
    line-height: 70px;
  }

  .content-name{
    font-size: 25px;
    line-height: 35px;
    padding: 20px;
  }

  .content-list{
    padding-bottom: 50px;
  }

  .content-text{
    max-height: 140px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .about-name{
    font-size: 35px;
    margin-top: 20px;
    line-height: 45px;
  }

  .company-name{
    font-size: 16px;
    line-height: 20px;
  }

 .homeabout .about__left-img{
    width: 100%;
  }

  .product-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
  }

  .product-select{
    display: block;
    margin-top: 30px;
  }

  .product-buttons{
    display: none;
  }

 .about .cards{
    display: none;
  }

.about  .cardd{
    display: block;
  }

  .product-select{
    display: block;
    width: 250px;
    padding: 10px 15px;
  }

 .about .about--links{
    display: block;
    margin-top: 25px;
  }

  .about-links{
    display: none;
  }


  .modal-video{
    width: 100%;
  }

  .company-subname{
    font-size: 14px;
  }

  .footer__top{
    padding: 70px 10px;
  }

  .footer{
    padding: 30px 0;
  }

  .homemain__main{
      padding: 0;
      margin: 80px 0;
  }

  .footer{
      padding-top: 80px;
  }

  .homeblog .homeproducts__product-img{
    width: 70%;
  }

  .homeproducts .homeproducts__product-img {
    width: 100%;
  }

}

.about--links{
  display: none;
}

html{
  scroll-behavior: smooth;
}

.cards{
  display: none;
}

.cardd{
  display: none;
}


.load{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: solid 10px white;
  border-left-color: rgb(1, 2, 58);
  border-top-color: rgb(1, 2, 58);
  animation-name: loader;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loader {
  100%{
      transform: rotate(360deg);
  }
}